<div class="table mat-elevation-z8">
  <div class="table-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> E-mail </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="creditLimit">
      <mat-header-cell *matHeaderCellDef> Limite </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.creditLimit}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="availableCredit">
      <mat-header-cell *matHeaderCellDef> Limite Disponível </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.availableCredit}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Remover </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="openDialog(row.id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>