<form method="POST" action="#" role="form">
    <mat-card class="credit-card">
        <mat-card-content>
            <mat-form-field class="full-width">
                <input matInput placeholder="Descrição" required type="text" maxlength="50" [(ngModel)]="description" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Nome Impresso" required type="text" maxlength="50" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Número" required type="text" maxlength="50" [(ngModel)]="cardNumber" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="small-width">
                <input matInput placeholder="Válido até" required type="text" maxlength="5" [(ngModel)]="expiryDate" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="small-width">
                <input matInput placeholder="CVV" required type="text" maxlength="4" [(ngModel)]="cvv" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="small-width">
                <input matInput placeholder="Limite" required type="text" maxlength="10" [(ngModel)]="limit" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="small-width">
                <input matInput placeholder="Dia do Pagamento" required type="text" maxlength="10" [(ngModel)]="payday" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary" (click)="add()" type="submit" class="full-width">Adicionar</button>
            </div>
        </mat-card-content>
    </mat-card>
</form>